{% extends 'layout.html' %}
{% block body %}

    <form method="post">
        <fieldset>
            <ul>
                <li>
                    <label for="username">Nazwa użytkownika</label>
                    <input id="username" name="username" type="text">
                </li>
                <li>
                    <label for="password">Hasło</label>
                    <input id="password" type="password" name="password" >
                </li>
                <li>
                    <label for="password_confirmation">Potwierdź hasło</label>
                    <input id="password_confirmation" type="password" name="password_confirmation" >
                </li>
            </ul>
            <button type="submit">Zarejestruj się</button>
        </fieldset>

    </form>
{% endblock %}
