{% extends 'layout.html' %}
{% block head %}

{% endblock %}
{% block body %}
    <form method="post" action="{{ url_for('blood.report_post') }}"
    >

        <div class="form-group">
            <div>
                <div>
                    <label class=col-sm-2 control-labelfor="time">Od dnia</label>
                    <div class="col-sm-10"><input class="form-control"
                                                  id="from"
                                                  name="from"
                                                  type="date"
                                                  title="Od dnia"
                                                  required
                    value="{{ olddate }}">
                    </div>
                </div>
                <div>
                    <label class=col-sm-2 control-labelfor="time">Do dnia</label>
                    <div class="col-sm-10"><input class="form-control"
                                                  id="to"
                                                  name="to"
                                                  type="date"
                                                  title="Od dnia"
                                                  required
                    value="{{ nowdate }}">
                    </div>
                </div>

            </div>
        </div>
        <button type="submit">Wygeneruj raport</button>

    </form>
{% endblock %}