{% extends 'layout.html' %}
{% block body %}
    <table>
    <tr>
        <td>Data pomiaru</td>
        <td>Tętno</td>
        <td>Ciśnienie skurczowe</td>
        <td>Ciśnienie rozkurczowe</td>
        <td>Edytuj</td>
        <td>Usuń</td>
    </tr>
        {% for m in measurements %}
            <tr>
                <td>{{ m.date.strftime('%Y-%m-%d %H:%M')}}</td>
                <td>{{ m.pulse }}</td>
                <td>{{ m.systolic }} mm/Hg</td>
                <td>{{ m.diastolic }} mm/Hg</td>
                <td><a href="{{ url_for('blood.edit_form', id=m.id) }}">Edytuj</a></td>
                <td><a href="{{ url_for('blood.delete_form', id=m.id) }}">Usuń</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
